//ROBOTO
@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

//PLAYFAIR_DISPLAY
@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf)
      format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf)
      format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf)
      format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf)
      format("truetype");
}

//HAMMERSMITH_ONE
@font-face {
  font-family: "Hammersmith One", sans-serif;
  src: local("Hammersmith One"),
    url(../../fonts/HammersmithOne/HammersmithOne-Regular.ttf)
      format("truetype");
}
